# Python namedtuple Tutorial

[Reference froom ZetCode](http://zetcode.com/python/namedtuple/)

In [1]:
from collections import namedtuple 

City = namedtuple('City', ['name', 'population'])

c1 = City("Name", 123)

print(c1)

City(name='Name', population=123)

## Accessing

In [2]:
print(c1[0], c1[1])
print(c1.name, c1.population)

Name 123
Name 123

## Unpacking

In [3]:
print(*c1, sep="; ")

Name; 123

In [6]:
d = {'name': 'Another', 'population': 321}
c = City(**d)
print(c)

City(name='Another', population=321)

## Subclassing

adding functionality to namedtuple
namedtuple can have DEFAULTS

In [10]:
from math import sqrt


class Point(namedtuple('Point', 'x y', defaults=[1,1])):
    
    @property
    def hypot(self):
        return sqrt((self.x ** 2 + self.y ** 2))

    def __str__(self):
        return f'Point: x={self.x}  y={self.y}  hypot={self.hypot}'
    
p = Point(5,5)

print(p.hypot)
print(p)

p_default = Point()
print(p_default)

7.0710678118654755
Point: x=5  y=5  hypot=7.0710678118654755
Point: x=1  y=1  hypot=1.4142135623730951

## Using Python typing.NamedTuple

In [9]:
from typing import NamedTuple


class City(NamedTuple):
    name: str
    population: int


c1 = City('Bratislava', 432000)
c2 = City('Budapest', 1759000)

print(c1)
print(c2)

City(name='Bratislava', population=432000)
City(name='Budapest', population=1759000)

attributes have typehints

## namedtuple helpers

In [11]:
p = Point(5, 5)

print(p._fields)
print(p._field_defaults)
print(p._asdict())

('x', 'y')
{'x': 1, 'y': 1}
OrderedDict([('x', 5), ('y', 5)])

## Sorting

In [13]:
class City(NamedTuple):
    id: int
    name: str
    population: int


c1 = City(1, 'Bratislava', 432000)
c2 = City(2, 'Budapest', 1759000)
c3 = City(3, 'Prague', 1280000)
c4 = City(4, 'Warsaw', 1748000)
c5 = City(5, 'Los Angeles', 3971000)
c6 = City(6, 'Edinburgh', 464000)
c7 = City(7, 'Berlin', 3671000)

cities = [c1, c2, c3, c4, c5, c6, c7]

cities.sort(key=lambda e: e.name)

for city in cities:
    print(city)

City(id=7, name='Berlin', population=3671000)
City(id=1, name='Bratislava', population=432000)
City(id=2, name='Budapest', population=1759000)
City(id=6, name='Edinburgh', population=464000)
City(id=5, name='Los Angeles', population=3971000)
City(id=3, name='Prague', population=1280000)
City(id=4, name='Warsaw', population=1748000)

## _make helper

makes new instance of namedtuple from sequence or iterable

In [14]:
City = namedtuple('City' , 'name population')

c1 = City._make(('Bratislava', 432000))
c2 = City._make(('Budapest', 1759000))

print(c1)
print(c2)

City(name='Bratislava', population=432000)
City(name='Budapest', population=1759000)

## read CSV data

In [16]:
from collections import namedtuple
import csv


City = namedtuple('City' , 'name population')

f = open('cities.csv', 'r')

with f:

    reader = csv.reader(f)
    
    for city in map(City._make, reader):
        print(city)

City(name='Bratislava', population=' 432000')
City(name='Budapest', population=' 1759000')
City(name='Prague', population=' 1280000')
City(name='Warsaw', population=' 1748000')
City(name='Los Angeles', population=' 3971000')
City(name='New York', population=' 8550000')
City(name='Edinburgh', population=' 464000')
City(name='Berlin', population=' 3671000')